$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$sidebarWidth: 309px;
$sidebarWidthClose: 119px;
$sidebarWidthCloseMin: 65px;

$sidebarSubMenuWidth: 190px;
$sidebarSubMenuWidthClose: 0;

$mainContentLeftMargin: 244px;
$sidebarFoldedWidth: 6rem;