$ZIndexAddition: 3;
$dropDownZIndex: 500;
$fixedOrderFooterZIndex: 600;
$fixedOrderFilterZIndex: 700;
$fixedHeaderZIndex: 800;
$audioPlayerZIndex: 1000;
$modalZIndex: 1004;
$topNavbarZIndex: 1005;
$sidebarZIndex: 1006;
$advBackdropZIndex: 1007;