@use '../../_styles/globalBreakPoints.scss' as *;

.button__container {
    width: 44px;
    height: 44px;
    border-radius: var(--arrow-border-radius);
    background: var(--main-bg);
    padding: 0 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.active {
    background: var(--direction-arrow-hover-bg)
}

.removeMedia {
    @media screen and (max-width: $minTablet) {
        display: none;
    }
}